/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.grid{
  width: 80%;
  margin-top: 2%;
  margin: auto;
}
.grid .btn{
  height: 50px;
  width: 50px;
  border-width: 1px !important;
  border-color: black;
}

.green_color{
  background-color: green !important;
}
.gray_color{
  background-color: gray !important;
}

.red_color{
  background-color: red !important;
}
.alert{
  width: 80%;
  margin: auto;
}
